<doctype html>
    <html lang='es'>
        <head>
        <meta charset="UTF-8">
        <title>
            Curp
        </title>
        <link rel="stylesheet" href="/css/bootstrap.min.css">

        <link rel="stylesheet" href="/css/styles.css">
        <script scr="/public/js/bootstrap.min.js"></script>
    </head>
    <body>
        <header class="barra">
            <nav class="navbar">
                
                    <a class="navbar-brand" href="/">Inicio</a>
                <ul class="navbar-nav">
                    <li><a href="/curp">Genera Curp</a></li>
                    <li><a href="/all">Busca Curp</a></li>
                    <li> <a href="/contacto" id="contact">Contacto</a></li>
                   
                </ul>
            </header>

            </nav>
          </div>
      

        <%- defineContent('heros')%>
        <main>
            <div class="container">
                <%- body %>
            </div>

        </main>

        <footer>Sitio no oficial</footer>


    </body>
    </html>


</doctype>