<%-contentFor('body') %>
<section class="hero">
    <div class="hero-content">
        <div class="transbox">
           
        <h2>CURP</h2>
        <div>
            <ul>
                <li><a  href="/curp" class="btn btn-lg " style="background-color: rgb(230, 197, 146);color: white;">Consulta Curp</a></li>
               
            </ul>
        </div>
    </div>
    </div>

</section>
