<%- contentFor ('body') %>
<div class="align-items-center">
    <div >
      <h1 class="display-4">Hola,  <%- name %></h1>
      <p class="lead">Tu mensaje ha sido enviado</p>
      <p class="lead"> Te responderemos en <%- email %></p>

    </div>
  </div>