<body>
    <div class="container">
        <h3 class="display-4">Esta curp no esta registrada</h1>
          
            <a href="/all"><button type="submit" class="btn btn-primary boton ml-2 w-30" style="border-radius: 5px;
            background-color: rgb(230, 197, 146); margin-top:10px; margin-bottom: 20px; margin-left: 800px; border-color: rgb(255, 255, 255); " >Regresar</button></a>